:host {
  display: flex;
  flex-direction: column;
}

.header-cell-content {
  display: flex;
  flex-direction: column;
}
h4 {
  display: flex;
  justify-content: center;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status-container {
  display: flex;
  flex-direction: row;
}
