<p>book-catalog works!</p>
<button class="btn" (click)="onAddCourse()">
  ADD COURSE
</button>
<mat-table  [dataSource]="dataSource" [formGroup]="searchForm"
            matSort matSortActive="title" matSortDirection="asc" matSortDisableClear >

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef >
      <div class="header-cell-content">
        <p mat-sort-header>Title</p>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <input matInput placeholder="Search title"  formControlName="title">
        </mat-form-field>
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.title}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef >
      <div class="header-cell-content">
        <p mat-sort-header>Author</p>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <input matInput placeholder="Search author" formControlName="author">
        </mat-form-field>
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.author}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef >
      <div class="header-cell-content">
        <p mat-sort-header>Genre</p>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <input matInput placeholder="Search genre" formControlName="genre">
        </mat-form-field>
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.genre}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [length]="dataSource.totalCount$ | async" [pageSize]="3"
               [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
